
.purchase_sidebar{
    display: flex;
    width:550px;
    flex-direction: column;
    align-items: stretch;
    padding:0px 10px;
    /* margin:0px; */
}
.purchase_sidebar_header{
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;    
    background-color: #FFFFFF;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    padding-left:15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.purchase_title{
    display: flex;
    width:300px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sidebar_footer{
    position:absolute;
    bottom:0;
}
.footer_button{
    text-align: center;
    color:white;
    background: rgba(113, 90, 255, 1);
    border-radius: 7px;
    font-weight: 700;
    font-size: 30px;
    padding:10px ;
    width: 530px;
    cursor: pointer;
}

.purchase_sidebar_form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.purchase_sidebar_date_time{
    display: flex;
    margin:15px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    
    
}
.date_time{
    margin-right:85px;
    background: #FFFFFF;
    border: 0.5px solid #AB8484;
    box-sizing: border-box;
    border-radius: 4.07735px;
    padding:8px ;
    color: rgba(113, 90, 255, 1);
    font-size: 20px;
    font-weight: 700;
}

.input_label{
    font-size: 18px;
    color:rgba(171, 132, 132, 1);
    font-weight: 400;
}
.purchase_sidebar_input{
    margin:15px 0px;
}
.input_element{
    background: #FFFFFF;
border: 1px solid #AB8484;

border-radius: 6.79558px;
font-size: 22px;
font-weight: 400;
width:500px;

outline:none;
height: 60px;

}

.purchase_sidebar_price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin:10px 0px;
  
}

.price{
    /* padding-left:10px; */
    width:175px;
    height:60px;
    margin-right:60px;
}

.price_unit{
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #AB8484;
    
    border-radius: 6.79558px;
    font-size: 22px;
    font-weight: 400;
    width:231px;
    
    outline:none;
    height: 60px;
}

.price_unit > input{
    border:none;
 
    border-radius: 6.79558px;
    font-size: 22px;
    font-weight: 400;
    
}

.unit_button{
    padding:15px;
    /* padding-left:55px; */
    text-align: center;
    background: rgba(239, 219, 219, 1);
    font-size: 22px;
    font-weight: 400;
    width:100%;
    border: 1px solid #AB8484;
box-sizing: border-box;
border-radius: 6.79558px;

}
.purchase_sidebar{
    margin:0px;
    overflow: hidden;
}