.mainbody{
    display:grid;
    grid-template-columns: 15% 85%;
    grid-column-gap:0;
}
.books_list{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding:10px;
  
    background-color: rgba(40, 39, 45, 1);
    height:90vh;
}
.book_item{
    display: flex;
    flex-direction: column;

    justify-content: stretch;
    color:white;
    align-items: flex-start;
    padding:8px;
    background-color: transparent;
    width:93%;
    margin:5px 0px;
    cursor: pointer;
    
}
.created_date, .book_name{
    padding:7px 8px;
    text-decoration:none;
}
.created_date{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book_item:hover{
    background-color: #3B2F5C;
}
.create_book{
    padding:10px;
    border-radius: 8px;
    background: rgba(113, 90, 255, 1);
    width:93%;
    margin:5px 0px;
    color:white;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.active_book_item{
    background-color: #3B2F5C;
    
}